html {
	font-family: 'Bubbler One', sans-serif;
	background-color: black;
	color: white;
}
h1 {
	text-decoration-line: underline;
	text-align: center;
}
section {
	text-align: center;
	background-color: #f44265;
}
section#hide_Show {
	opacity: 0;
	transition: opacity 4s;
}